body {
    padding: 0;
    margin: 0;
    background: #ccc;
}

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/boy.jpeg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-brand img {
    width: 100px;
    height: 50px;
}

.skills-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/skills-bg-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: center;
    background-attachment: fixed;
}

.box-white {
    box-shadow: 0 0 5px white;
}
.box-green {
    box-shadow: 0 0 5px green;
}

.col1-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

.card-body a {
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
}

.card:hover .card-body {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: 1s all ease;
}

.card:hover .card-body a {
    display: inline;
    padding: 5px 20px;
}
.writeme-bg-img{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/writeme-bg-img.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}